<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticketbox.auth_service.mappers.RoleMapper">

    <!--insert-->
    <insert id="addRole"
            keyColumn="role_id"
            parameterType="com.ticketbox.auth_service.entity.Role"
            useGeneratedKeys="true"
            keyProperty="roleId">
        INSERT INTO Roles (role_name)
        values (#{roleName});
    </insert>

    <insert id="addAuthorties" parameterType="java.util.List">
        insert into Role_Permission (role_id, authority_id)
        values
            <foreach collection="list" item="ra" separator=",">
                (#{ra.roleId}, #{ra.authorityId})
            </foreach>
    </insert>

    <!--update-->
    <update id="updateRole" parameterType="com.ticketbox.auth_service.entity.Role">
        update Roles
        <set>
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
        </set>
        where role_id = #{roleId}
    </update>

    <!--queries-->
    <select id="findRoleById" resultMap="userResultMap">
        SELECT role_id, role_name, is_active
        FROM Roles
        WHERE role_id = #{roleId}
    </select>

    <select id="findRoleByName" resultMap="userResultMap" parameterType="String" >
        SELECT role_id, role_name, is_active
        FROM Roles
        WHERE role_name = #{roleName}
    </select>

    <select id="findAll" resultMap="userResultMap">
        SELECT role_id, role_name, is_active
        FROM Roles
        ORDER BY role_id
        LIMIT #{pageSize} OFFSET #{offSet}
    </select>


    <resultMap id="userResultMap" type="com.ticketbox.auth_service.entity.Role" >
        <id column="role_id" property="roleId" javaType="int" jdbcType="INTEGER"  />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" javaType="String"/>
        <result column="is_active" property="isActive" jdbcType="BOOLEAN" javaType="Boolean" />
    </resultMap>
</mapper>